<div class="col-xs-12 col-sm-8 offset-sm-2">
  <div class="main-panel" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
    [scrollWindow]="true" (scrolled)="onScrollDown($event)">
    <div class="row m-t-1">
      <div class="col-12 card">
        <div class="card-body card-body-item">
          <div class="row">
            <div class="col-3">{{ 'LIST.HEADERS.NAME' | translate }}</div>
            <div class="col-3">{{ 'LIST.HEADERS.PRICE' | translate }}</div>
            <div class="col-3">{{ 'LIST.HEADERS.CRYPTOCURRENCY' | translate }}</div>
            <div class="col-3">{{ 'LIST.HEADERS.CONVERT' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-t-1" *ngFor="let i of assetsView">
      <div class="col-12 card">
        <div class="card-body card-body-item">
          <div class="row">
            <div class="col-3">{{i.name}}</div>
            <div class="col-3 price">{{ i.price | currency:'$':'symbol'}}</div>
            <div [ngClass]="{'is-crypto text-success': i.type === 'CRYPTO', 'not-crypto text-danger': i.type !== 'CRYPTO'}" class="col-3">{{i.type === 'CRYPTO' ? 'SI' : 'NO'}}</div>
            <div class="col-3"><a (click)="goConvert(i)" class="btn"><img src="./assets/shuffle.png" alt="shuffle" width="30px"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
