<div class="col-xs-12 col-sm-6 offset-sm-3">
  <form [formGroup]="fgConvert">
    <div class="mb-3">
      <label for="mount" class="form-label">Monto a Convertir</label>
      <input type="number" class="form-control" id="mount" placeholder="10" formControlName="mount">
    </div>
    <div class="mb-3">
      <label for="primaryCoin" class="form-label">Moneda / Criptomoneda</label>
      <input type="text" class="form-control" id="primaryCoin" placeholder="Moneda / Criptomoneda"
        formControlName="primaryCoin" [ngbTypeahead]="search" [inputFormatter]="formatter"
        [resultFormatter]="formatter" (selectItem)="selectPrimary($event)">
    </div>
    <div class="mb-3">
      <label for="mount" class="form-label">Moneda / Criptomoneda</label>
      <input type="text" class="form-control" id="mount" placeholder="Moneda / Criptomoneda"
        formControlName="secundaryCoin" [ngbTypeahead]="search" [inputFormatter]="formatter"
        [resultFormatter]="formatter">
    </div>
    <div class="mb-3">
      <label for="total" class="form-label">Monto Convertido</label>
      <input type="number" class="form-control" id="total" placeholder="Monto Convertido" readonly>
    </div>
    <div class="mb-3">
      <button (click)="convert()" type="button" class="btn btn-primary btn-block" [disabled]="!fgConvert.valid">Primary</button>
    </div>
  </form>
</div>
